# Django Security & Core Settings
SECRET_KEY="your-secret-key-here"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.vercel.app,*
CSRF_TRUSTED_ORIGINS=https://*.vercel.app,http://127.0.0.1,http://localhost

# Database Configuration (Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Localization & Timezone
TIME_ZONE=Asia/Bangkok
LANGUAGE_CODE=en-us
